<div [routerLink]="['/', commonRoutes.JERSEYS.BASE, commonRoutes.JERSEYS.DETAILS, jersey().id]" class="flex flex-col lg:w-[360px] xl:w-[320px] 2xl:w-[370px] h-[352px] bg-bg-100 dark:bg-bg-100-dark rounded-[7px] shadow-sm transition-all duration-300 cursor-pointer hover:scale-101 hover:shadow-md">
    <div class="flex w-full h-[229px] rounded-t-[7px]">
        @defer (when jersey().imageUrl !== "") {
            <img [src]="jersey().imageUrl" alt="Imagen de la camiseta" class="max-h-full max-w-full object-contain rounded-t-[7px]"/>
        }@placeholder {
            <div class="w-full h-[229px] bg-bg-300 dark:bg-bg-300-dark animate-pulse rounded-t-[7px]"></div>
        }
    </div>
    <div class="flex flex-col p-[10px] h-full justify-between">
        <h3 class="text-[16px] font-semibold text-text-100 dark:text-text-100-dark">{{ jersey().name }}</h3>
        <p class="text-[12px] font-normal text-text-200 dark:text-text-200-dark">{{ jersey().typeDescription }}</p>
        <div class="flex justify-between items-center">
            <span class="text-[16px] font-semibold text-text-100 dark:text-text-100-dark">${{ jersey().price }}</span>
            <div class="flex items-center gap-[5px]">
                <fa-icon [icon]="faStar" class="text-[16px] text-primary" />
                <span class="text-[16px] text-text-200 dark:text-text-200-dark">{{jersey().rating}}</span>
            </div>
        </div>
    </div>
</div>
